In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')

In [8]:
raw_df = pd.read_csv(r'C:\Users\junoh\OneDrive\이너피플\git\두두월드\고객세분화_dudu.csv')

In [9]:
raw_df.head()

,Unnamed: 0,주문번호,품목별 주문번호,배송번호,주문상품코드,주문상품명,상품옵션(옵션가격/타이틀미노출),옵션별상품코드,주문품목 수량,주문품목 단가,...,성별,나이,회원그룹,구매건수,구매금액,최근주문일,최근로그인,유입경로.1,유입검색어,가입경로
0,0,20210901000757-68539640174,20210901000757-68539640174_[1],S-21090100-260412059-01,13003000002,사각실속기프트세트,NaN,M83-0000000000000001,1,11900,...,여,63,그린(일반),1,62900,2021-09-01,2021-09-01,www.silicook.co.kr/m,0,MOBILE
1,1,20210901000757-68539640174,20210901000757-68539640174_[2],S-21090100-260412059-00,13007000013,"납작이 1+1세트,홈쇼핑구성",NaN,M1301-00000000000001,1,54000,...,여,63,그린(일반),1,62900,2021-09-01,2021-09-01,www.silicook.co.kr/m,0,MOBILE
2,2,20210901001324-15711112237,20210901001324-15711112237_[1],S-21090100-407834699-04,14006000052,슬라이딩트레이3개세트,NaN,M374-000000000000001,1,6900,...,여,33,그린(일반),1,47900,2021-09-01,2021-09-02,www.silicook.co.kr/m,0,MOBILE
3,3,20210901001324-15711112237,20210901001324-15711112237_[2],S-21090100-407834699-03,14007000004,서랍칸 다용도박스 세트,,M390-000000000000002,1,6800,...,여,33,그린(일반),1,47900,2021-09-01,2021-09-02,www.silicook.co.kr/m,0,MOBILE
4,4,20210901001324-15711112237,20210901001324-15711112237_[3],S-21090100-407834699-02,14005000002,원더바스켓 일자 확장형 선반,NaN,M410-000000000000001,1,12900,...,여,33,그린(일반),1,47900,2021-09-01,2021-09-02,www.silicook.co.kr/m,0,MOBILE

In [10]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29274 entries, 0 to 29273
Data columns (total 51 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         29274 non-null  int64
 1   주문번호               29274 non-null  object
 2   품목별 주문번호           29274 non-null  object
 3   배송번호               29274 non-null  object
 4   주문상품코드             29274 non-null  object
 5   주문상품명              29274 non-null  object
 6   상품옵션(옵션가격/타이틀미노출)  7092 non-null   object
 7   옵션별상품코드            29274 non-null  object
 8   주문품목 수량            29274 non-null  int64
 9   주문품목 단가            29274 non-null  int64
 10  주문품목 결제금액          29274 non-null  int64
 11  주문일시               29274 non-null  object
 12  주문경로               28301 non-null  object
 13  주문검색어              22114 non-null  object
 14  구매횟수               29273 non-null  float64
 15  주소_도시급             29274 non-null  object
 16  주소_시군구급            29274 non-null  object
 17  결제금액(주문전체)         29274 non-null  int64
 18  결제금액(품목별)          29274 non-null  int64
 19  결제방법               29274 non-null  object
 20  결제상태               29274 non-null  object
 21  주문상태(품목별)          29274 non-null  object
 22  입금확인일(결제일)         28477 non-null  object
 23  송장입력일              27248 non-null  object
 24  배송중처리일             27248 non-null  object
 25  배송완료일              27227 non-null  object
 26  거래완료일              26830 non-null  object
 27  개인/기업              29274 non-null  object
 28  회원가입일              29273 non-null  object
 29  유입경로               29274 non-null  object
 30  연계주문               22846 non-null  object
 31  상품 총금액             27587 non-null  float64
 32  최초 결제 금액           29274 non-null  int64
 33  상품번호               29274 non-null  int64
 34  대분류                29274 non-null  object
 35  브랜드                29274 non-null  object
 36  상품 검색어             29274 non-null  object
 37  상품등록일              29274 non-null  object
 38  아이디                29274 non-null  object
 39  가입일                29274 non-null  object
 40  회원구분               29274 non-null  object
 41  성별                 29274 non-null  object
 42  나이                 29274 non-null  object
 43  회원그룹               29274 non-null  object
 44  구매건수               29274 non-null  int64
 45  구매금액               29274 non-null  int64
 46  최근주문일              29274 non-null  object
 47  최근로그인              29274 non-null  object
 48  유입경로.1             29274 non-null  object
 49  유입검색어              29274 non-null  object
 50  가입경로               29274 non-null  object
dtypes: float64(2), int64(10), object(39)
memory usage: 11.4+ MB

#### 데이터 전처리

In [11]:
# columne 별 결측값 확인
raw_df.isnull().sum()

Unnamed: 0               0
주문번호                     0
품목별 주문번호                 0
배송번호                     0
주문상품코드                   0
주문상품명                    0
상품옵션(옵션가격/타이틀미노출)    22182
옵션별상품코드                  0
주문품목 수량                  0
주문품목 단가                  0
주문품목 결제금액                0
주문일시                     0
주문경로                   973
주문검색어                 7160
구매횟수                     1
주소_도시급                   0
주소_시군구급                  0
결제금액(주문전체)               0
결제금액(품목별)                0
결제방법                     0
결제상태                     0
주문상태(품목별)                0
입금확인일(결제일)             797
송장입력일                 2026
배송중처리일                2026
배송완료일                 2047
거래완료일                 2444
개인/기업                    0
회원가입일                    1
유입경로                     0
연계주문                  6428
상품 총금액                1687
최초 결제 금액                 0
상품번호                     0
대분류                      0
브랜드                      0
상품 검색어                   0
상품등록일                    0
아이디                      0
가입일                      0
회원구분                     0
성별                       0
나이                       0
회원그룹                     0
구매건수                     0
구매금액                     0
최근주문일                    0
최근로그인                    0
유입경로.1                   0
유입검색어                    0
가입경로                     0
dtype: int64

In [14]:
# 거래완료일의 결측값이 있는 행은 거래가 이루어지지 않은 것으로 간주. --> 행 삭제 
df = raw_df.dropna(axis = 'index', subset=['거래완료일'], how = 'any')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26830 entries, 0 to 29273
Data columns (total 51 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26830 non-null  int64
 1   주문번호               26830 non-null  object
 2   품목별 주문번호           26830 non-null  object
 3   배송번호               26830 non-null  object
 4   주문상품코드             26830 non-null  object
 5   주문상품명              26830 non-null  object
 6   상품옵션(옵션가격/타이틀미노출)  6538 non-null   object
 7   옵션별상품코드            26830 non-null  object
 8   주문품목 수량            26830 non-null  int64
 9   주문품목 단가            26830 non-null  int64
 10  주문품목 결제금액          26830 non-null  int64
 11  주문일시               26830 non-null  object
 12  주문경로               25948 non-null  object
 13  주문검색어              20270 non-null  object
 14  구매횟수               26829 non-null  float64
 15  주소_도시급             26830 non-null  object
 16  주소_시군구급            26830 non-null  object
 17  결제금액(주문전체)         26830 non-null  int64
 18  결제금액(품목별)          26830 non-null  int64
 19  결제방법               26830 non-null  object
 20  결제상태               26830 non-null  object
 21  주문상태(품목별)          26830 non-null  object
 22  입금확인일(결제일)         26830 non-null  object
 23  송장입력일              26830 non-null  object
 24  배송중처리일             26830 non-null  object
 25  배송완료일              26830 non-null  object
 26  거래완료일              26830 non-null  object
 27  개인/기업              26830 non-null  object
 28  회원가입일              26829 non-null  object
 29  유입경로               26830 non-null  object
 30  연계주문               20986 non-null  object
 31  상품 총금액             26819 non-null  float64
 32  최초 결제 금액           26830 non-null  int64
 33  상품번호               26830 non-null  int64
 34  대분류                26830 non-null  object
 35  브랜드                26830 non-null  object
 36  상품 검색어             26830 non-null  object
 37  상품등록일              26830 non-null  object
 38  아이디                26830 non-null  object
 39  가입일                26830 non-null  object
 40  회원구분               26830 non-null  object
 41  성별                 26830 non-null  object
 42  나이                 26830 non-null  object
 43  회원그룹               26830 non-null  object
 44  구매건수               26830 non-null  int64
 45  구매금액               26830 non-null  int64
 46  최근주문일              26830 non-null  object
 47  최근로그인              26830 non-null  object
 48  유입경로.1             26830 non-null  object
 49  유입검색어              26830 non-null  object
 50  가입경로               26830 non-null  object
dtypes: float64(2), int64(10), object(39)
memory usage: 10.6+ MB

In [16]:
# 거래완료 된 건의 row 수 : 26,380건 확인. 
# 결측치 재확인

df.isnull().sum()

Unnamed: 0               0
주문번호                     0
품목별 주문번호                 0
배송번호                     0
주문상품코드                   0
주문상품명                    0
상품옵션(옵션가격/타이틀미노출)    20292
옵션별상품코드                  0
주문품목 수량                  0
주문품목 단가                  0
주문품목 결제금액                0
주문일시                     0
주문경로                   882
주문검색어                 6560
구매횟수                     1
주소_도시급                   0
주소_시군구급                  0
결제금액(주문전체)               0
결제금액(품목별)                0
결제방법                     0
결제상태                     0
주문상태(품목별)                0
입금확인일(결제일)               0
송장입력일                    0
배송중처리일                   0
배송완료일                    0
거래완료일                    0
개인/기업                    0
회원가입일                    1
유입경로                     0
연계주문                  5844
상품 총금액                  11
최초 결제 금액                 0
상품번호                     0
대분류                      0
브랜드                      0
상품 검색어                   0
상품등록일                    0
아이디                      0
가입일                      0
회원구분                     0
성별                       0
나이                       0
회원그룹                     0
구매건수                     0
구매금액                     0
최근주문일                    0
최근로그인                    0
유입경로.1                   0
유입검색어                    0
가입경로                     0
dtype: int64

#### 고객 아이디 기준으로 고객별 특징 추출 
       - 이를 통해 RFM 분석을 위한 데이터 정제

In [18]:
len(df.아이디.unique())

6814

In [19]:
# 총 6,814개의 아이디로 구성. 즉 총 6,814 명의 고객
# 고객(아이디)별 최근성(Recency), 주문건수(Frequency), 구매금액(Monetary)  칼럼 생성 및 데이터 추출  --> 고객 군집화

In [27]:
# 고객 군집화를 위한 dataframe 생성
cluster_df = pd.DataFrame({'고객_id' : df.아이디.unique()})
cluster_df.head()
#cluster_df.info()

         고객_id
0       ja6227
1     ka@12ddd
2   lazurpleur
3  nh@5f65e332
4    pointhj01

In [21]:
# 주문건수(Frequency) 
#  1) 고객(아이디)와 주문번호 기준으로 중복값 제거 후, 고객(아이디)별 갯수를 count --> 주문횟수가 됨
num_order_by_id = df.drop_duplicates(subset =['아이디', '주문번호'])['아이디'].value_counts()

In [23]:
print(type(num_order_by_id))
num_order_by_id.head()

<class 'pandas.core.series.Series'>

nh@5fdacf4    18
shenshop      18
jungliin      16
nh@2851d86    13
j3heeya       12
Name: 아이디, dtype: int64

In [30]:
#  고객_id를 num_order_by_id로 대체하여, cluster_df에 '주문횟수'를 생성
cluster_df['주문횟수'] = cluster_df['고객_id'].replace(num_order_by_id.to_dict())
cluster_df.head()
cluster_df.주문횟수.unique()

array([ 1,  2,  3, 18,  4,  5,  6,  7,  8, 16, 12,  9, 13], dtype=int64)